@(message: String)

@main("Welcome to Play") {

    <div id="person-list"></div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//fb.me/react-with-addons-0.12.2.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
    <script src="@routes.Assets.at("javascripts/react-app.js")" type="text/javascript"></script>
}
